# Suggested by BugSight from analyzed commits and ownership signals.
# Review this file before committing it.

* @Refaat2020
docs/** @Refaat2020
tests/** @Refaat2020
android/app/src/** @Refaat2020
ios/Runner/Assets.xcassets/** @Refaat2020
lib/features/processing/** @Refaat2020
lib/features/home/** @Refaat2020
lib/features/ocr/** @Refaat2020
lib/core/widgets/** @Refaat2020
lib/features/batch/** @Refaat2020
lib/features/history_detail/** @Refaat2020
lib/core/utils/** @Refaat2020
lib/features/result/** @Refaat2020
android/app/build.gradle.kts/** @Refaat2020
.idea/Scanify.iml/** @Refaat2020
ios/Runner/Base.lproj/** @Refaat2020
lib/main.dart/** @Refaat2020
lib/core/usecases/** @Refaat2020
lib/core/theme/** @Refaat2020
ios/Runner.xcodeproj/project.pbxproj/** @Refaat2020
ios/Podfile/** @Refaat2020
ios/Runner/Info.plist/** @Refaat2020
ios/Runner/AppDelegate.swift/** @Refaat2020
ios/Runner/Runner-Bridging-Header.h/** @Refaat2020
android/settings.gradle.kts/** @Refaat2020
ios/Runner.xcodeproj/project.xcworkspace/** @Refaat2020
lib/core/routes/** @Refaat2020
lib/core/error/** @Refaat2020
lib/core/extensions/** @Refaat2020
ios/Runner.xcworkspace/xcshareddata/** @Refaat2020
android/app/proguard-rules.pro/** @Refaat2020
assets/icon/icon.png/** @Refaat2020
assets/splash/logo.png/** @Refaat2020
assets/icon/icon_foreground.png/** @Refaat2020
ios/Runner/DocumentCV.mm/** @Refaat2020
lib/core/core.dart/** @Refaat2020
lib/core/enums/** @Refaat2020
lib/hive_registrar.g.dart/** @Refaat2020
lib/core/constants/** @Refaat2020
ios/Flutter/AppFrameworkInfo.plist/** @Refaat2020
android/gradle.properties/** @Refaat2020
ios/Runner.xcworkspace/contents.xcworkspacedata/** @Refaat2020
android/code_way_task_android.iml/** @Refaat2020
ios/Runner.xcodeproj/xcshareddata/** @Refaat2020
ios/Flutter/Debug.xcconfig/** @Refaat2020
ios/Flutter/Release.xcconfig/** @Refaat2020
android/gradle/wrapper/** @Refaat2020
android/build.gradle.kts/** @Refaat2020
analysis_options.yaml @Refaat2020
.gitignore @Refaat2020
